[Unit]
Description=Run AllOEMManuals auto-deploy watcher every 60 seconds

[Timer]
OnBootSec=60
OnUnitActiveSec=300s
AccuracySec=5s

[Install]
WantedBy=timers.target
